.landing-wrapper {
    padding: 0 30px;
    text-align: center;
}
 
.container {
    max-width: 1200px;
}
 
.landing-bg {
    position: relative;
}
 
.landing-bg::before {
    content: "";
    width: 100%;
    height: 45%;
    position: absolute;
    bottom: 0;
    background: #f2f3fb;
    z-index: 1;
}
 
.landing-bg .container {
    position: relative;
    z-index: 5;
}
 
.landing-wrapper .logo_search {
    background-color: #FFF;
    transition: all 0.5s ease-in-out;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 10px 30px 20px 30px;
}
 
.landing-wrapper .logo_search p {
    color: #1c30e5;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    margin: 10px;
}
 
.logo_search .form-item {
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    text-align: left;
    padding: 0 15px;
}
 
.logo_search .form-item input {
    border: 0;
    padding: 0;
}
 
.logo_search .form-item label {
    margin: 0 !important;
    transform: translateY(10px);
    color: #000 !important;
    font-weight: 600;
}
 
.service_list {
    padding-top: 80px;
}
 
.service_list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 
.service_list ul li a i {
    font-size: 50px;
    display: block;
    color: #1c30e5;
    position: relative;
}
 
.service_list ul li {
    margin: 0 20px;
}
 
.service_list ul li a i::after {
    content: "";
    width: 60px;
    height: 60px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50px;
    z-index: -1;
    top: 15px;
    transition: 600ms all;
}
 
.service_list ul li a span {
    display: block;
    color: #000;
    font-weight: 500;
    padding-top: 15px;
    font-size: 16px;
}
 
.service_list ul li a:hover span,.service_list ul li a.active span {
    color: #f4b608;
}
 
.service_list ul li a:hover {
    transform: translateY(-10px);
}
 
.service_list ul li a {
    display: block;
}
 
.service_list ul li a:hover i {
    color: #fff;
    transform: scale(1.1);
}
 
.service_list ul li a:hover i::after,.service_list ul li a.active i::after {
    background: #f4b608;
    transform: scale(1.3);
}
 
.landing-logo img {
    max-height: 140px;
}
 
.landing-logo {
    padding-bottom: 50px;
}
.landing-wrapper .logo_search .dropdown i {
    position: absolute;
    right: 15px;
    top: calc(50% - 10px);
    font-size: 20px;
    font-weight: 500;
    color: #000;
}
.dropdown-item:hover h6{
    color: #fff !important;
}
.logo_search .form-item label {
    transform: translateY(2px) !important;
}
.banner-form .input-search .input-group{
    background: transparent;
    border: 1px solid #E4EBF1;
    padding: 0 10px;
    border-radius: 5px;
}
.banner-form .input-search .input-group span{
    width: 30px;
    background: #fff;
    border:0;
}
.banner-form .form-info .form-item h5{font-size: 20px;}
 
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary.focus, .btn.btn-primary:active, .btn.btn-primary.active{
    background-color: #1c30e5 !important;
    border-color: #1c30e5 !important;
}
 
@media (min-width: 767px) and (max-width: 992px){
    .banner-form .form-info{flex-wrap: nowrap;}
}
@media (max-width: 767px) {
    .landing-logo img {
        max-height: 60px;
    }
    .landing-wrapper {
        padding: 0 15px;
    }
    .landing-wrapper .logo_search {
        padding: 5px 15px 10px 15px;
    }
    .service_list ul {overflow-x: scroll;justify-content: start;padding-bottom: 20px;padding-top:20px;}
    .service_list ul li a span {
        line-height: normal;
        font-size: 14px !important;
        white-space: nowrap;
    }
    .service_list {
        padding-top: 40px;
    }
    .landing-bg::before{height: 55%;}
    .logo_search .form-item {
        margin: 5px 0 !important;
    }
    .landing-wrapper .logo_search p{margin-left: 0 !important;text-align: center;}
    .banner-form .form-info > div{width: 100%;}
    .service_list ul li a:hover i::after{background:#fff !important;}
}  